{% extends "bootstrap/base.html" %}
{% block title %}API Home{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}


{% block content %}
    <div id="wrap">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">API DOC DEMO</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Begin page content -->
        <div class="container">
            <div class="page-header">
                <h1>Api Reference</h1>
            </div>
            <div class="well">
                <ul>
                    {% for api_link in api_map %}
                        <li>
                            <a href="/docs/{{ api_link[1] }}">
                                {{ api_link[0] }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <p class="text-muted credit">Copyright © <a href="https://github.com/tobyqin/">Toby Qin</a>
                - <a href="https://github.com/tobyqin/flask_api_doc">Source at Github</a></p>
        </div>
    </div>
{% endblock %}